@model DC2247A3.Models.PlaylistBaseViewModel

@{
    ViewBag.Title = "Playlist details";
}

<h2>@ViewBag.Title <span class="bg-info-subtle">@Html.DisplayFor(model => model.Name)</span></h2>

<hr />
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            Tracks on the Playlist
        </dt>

        <dd class="col-sm-10">
            <span class="badge rounded-pill text-bg-secondary">@Html.DisplayFor(model => model.TracksCount)</span><br />
            @foreach (var track in Model.Tracks)
            {
                <span>@track.Name</span><br />
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>

